<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<div class="container">
    <strong>
 <p>{{name}} we welcome you to Real properties Community. Please use the url link below to verify our email. Thanks</p>
     <br/>
            <p><a href="routes/login-form">{{url}}</a></p>
         </strong>`,

</div>
</html>