<html>
<head>
    <title>{{title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/edit-bank-details" method="POST">
            <fieldset>
                {{#each data}}                
                <br/>
                <label for="bankname">Existing Bank: </label>
                <br/>
                <input type="text" id="bankname" name="bankname" value="{{this.bank_name}}" />
                <br/>
                <label for="account_no">Account Number: </label>
                <br/>
                <input type="text" id="account_no" name="account_no" value="{{this.account_no}}" />
                <br/>
                <label for="account_name">Account Name: </label>
                 <br/>
                <input type="text" id="account_name" name="account_name" value="{{this.account_name}}" />
                </br>
                <input type="submit" value="Save" />
                <br/>
               {{/each}}
            </fieldset>
        </form>
    </body>
</html>