


    <strong>
        <br/>
        <p>Dear {{firstname}}</p>
     </strong>

     <br/>
     <br/>
     <br/>
    
     <p>Your enquiry message has been received. Please expect a response within 24 hours of this email</p>

        
    </table>
           
  

