
<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<h2>sorry your payment was not successful<h2>
<br/>
<br/>
 <a href="/" class="btn btn-info btn-sm">try again</a>                        