<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/verify/{{email}}" method="POST">
            <fieldset>
                 <p>{{message}}</p>
                 <br/>
                <label for="secret">Key: </label>
                <br/>
                <input type="number" id="secret" name="secret"  />
                <br/>
                <input type="submit" value="Verify" />
                <br/>
                <p>You can request for a new secret key.</p>
                <br/>
                <a href="/resend-form-undeleted/{{email}}" class="btn btn-info btn-sm">Request new key</a>
               
            </fieldset>
        </form>
    </body>
</html>