


    <strong>
        <br/>
 <p>Hello {{name}}, you have requested for a password reset. Please click the link below to reset your password.</p>
     <br/>
     <br/>
     <br/>
     
     <p><a href="{{url}}" class="btn btn-info btn-sm">Reset password</p>
     <br/>
     <p>If you did not make such request please ignore this email.</p>
           
         </strong>`,

