<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<p>{{message}}</p>
<br/>
<br/>
 <a href="/resend-form-deleted/{{email}}" class="btn btn-info btn-sm">Request new key</a>