


    <strong>
        <br/>
 <p>{{name}} we welcome you to Real properties Community. Please use the code below to verify your email. The code is valid only for 2 minutes, you will have to request for another otp after the speculated time. Thank you.</p>
     <br/>
     <br/>
     <br/>
     
     <p>code: {{secret}}</p>
           
         </strong>`,

