<html>
<head>
    <title>{{title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
       <p><a href="/edit-landlord-profile" class="btn btn-danger btn-sm">Edit Profile</a></p>
       <p><a href="/get-update-password" class="btn btn-danger btn-sm">Update Password</a></p>
    </body>
</html>