


    <strong>
        <br/>
 <p>Hello, {{name}} there have been a password update on your account. Please if you are not the one that made this changes please call +234708987654. Thank you.</p>
     <br/>
     <br/>
     <br/>
           
         </strong>`,

