


    <strong>
        <br/>
 <p>Hello {{name}}, we have received your request to get a professional valuation of your property. One of our representatives will be in touch.</p>
     <br/>
     <br/>
     <p>Thank you and Regards.</p>>
    
           
         </strong>

