


    <strong>
        <br/>
 <p>{{message}}</p>
     <br/>
     <p>Please note you have been invited by {{name}}</p>
     <br/>
     <p>We expect to see you on the inside and enjoy discount proces on properties. Thank you.</p>
     <br/>
     
     <p>code: {{secret}}</p>
           
         </strong>`,

