<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/resend/undeleted/{{email}}" method="POST">
            <fieldset>
                <p>{{message}}</p>
                <p> Request new verification code</p>
                <input type="submit" value="Request" />
                <br/>
               
            </fieldset>
        </form>
    </body>
</html>