<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/do-search-filter" method="GET">
            <fieldset>
                <h1><p>Search Filter</p></h1>
               
                <label for="Location">Location: </label>
                <br/>
                <input type="text" id="location" name="location"  />
                <br/>
                <label for="property_type">Property Type: </label>
                <br/>
                <input type="text" id="property_type" name="property_type"  />
                <br/>
                <label for="min">Min: </label>
                <br/>
                <input type="number" id="min" name="min"  />
                <br/>
                <label for="max">Max: </label>
                <br/>
                <input type="number" id="max" name="max"  />
                <br/>
                <label for="bed">Bed: </label>
                <br/>
                <input type="number" id="bed" name="bed"  />
                <br/>
                <label for="bath">Bath: </label>
                <br/>
                <input type="number" id="bath" name="bath"  />
                <br/>
                 <label for="Purpose">Purpose: </label>
                <br/>
                <input type="text" id="purpose" name="purpose"  />
                <br/>
                <input type="submit" value="Search" />
                <br/>
            </fieldset>
        </form>
    </body>
</html>