<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/search" method="POST">
            <fieldset>
                <h1><p>Search Filter</p></h1>
                <label for="Location">Location: </label>
                <br/>
                <input type="text" id="location" name="location"  />
                <br/>
                <input type="submit" value="Search" />
                <br/>
            </fieldset>
        </form>
    </body>
</html>