<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>.
        <form action="/updatePassword/{{email}}" method="POST">
            <fieldset>
                <p>Please enter a new password below</p>
                 <br/>
                <label for="secret">Password: </label>
                <br/>
                <input type="password" id="password" name="password"  />
                <br/>
                <label for="secret"> Retype Password: </label>
                <br/>
                <input type="password" id="password" name="r_password"  />
                <br/>
                <input type="submit" value="Confirm" />
                <br/>
            </fieldset>
        </form>
    </body>
</html>