<html>
<head>
    <title>{{title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <form action="/update-password" method="POST">
            <fieldset>
                              
                <br/>
                <label for="old_password">Old Password: </label>
                <br/>
                <input type="text" id="old_password" name="old_password" />
                <br/>
                <label for="new_password">New Password: </label>
                <br/>
                <input type="text" id="new_password" name="new_password" />
                <br/>
                <label for="new_password_copy">Retype New Password: </label>
                <br/>
                <input type="text" id="new_password_copy" name="new_password_copy" />
                </br>
                <input type="submit" value="Update" />
                <br/>
             
            </fieldset>
        </form>
    </body>
</html>